<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<remove name="aspNetCore" />
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
		</handlers>
		<aspNetCore requestTimeout="00:20:00" processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout"/>
		<rewrite>
			<rules>
				<clear />
				<rule name="Redirect to ACME Challenge" stopProcessing="true">
					<match url=".*"/>
					<conditions>
						<add input="{HTTP_HOST}" pattern="^www\.wispymouse\.net$" negate="true" />
						<add input="{PATH_INFO}" pattern="^(/\.well\-known/acme\-challenge\/.*)$"/>
					</conditions>
					<action type="Redirect" url="https://www.wispymouse.net/{R:0}" redirectType="Temporary"/>
				</rule>
				<rule name="Rewrite to Subdomain" stopProcessing="true">
					<match url=".*"/>
					<conditions>
						<add input="{HTTP_HOST}" pattern="^www\.wispymouse\.net$" negate="true" />
						<add input="{HTTP_HOST}" pattern="^(.+)\.wispymouse\.net$" />
					</conditions>
					<action type="Rewrite" url="{C:1}/{R:0}"/>
				</rule>
				<rule name="Redirect to WWW">
					<!-- Redirect wispymouse.net to www.wispymouse.net, but don't redirect wispymouse.azurewebsites.net to www.wispymouse.azurewebsites.net -->
					<match url=".*" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^(?!www\.)((?!(azurewebsites)).)*$" />
					</conditions>
					<action type="Redirect" url="https://www.{HTTP_HOST}/{R:0}" redirectType="Permanent"/>
				</rule>

				<!--Rules for unity-->
				<!--<rule name="Append gz suffix to WebGL content requests">
					<match url="(.*)\.(js|data|mem|unity3d)$" />
					<conditions>
						<add input="{HTTP_ACCEPT_ENCODING}" pattern="gzip" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="{R:1}.{R:2}gz" />
				</rule>-->
			</rules>

			<!--<outboundRules>
				<rule name="Append gzip Content-Encoding header to rewritten responses">
					<match serverVariable="RESPONSE_Content-Encoding" pattern=".*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" pattern="\.(js|data|mem|unity3d)gz$" />
					</conditions>
					<action type="Rewrite" value="gzip" />
				</rule>
			</outboundRules>-->
		</rewrite>

		<staticContent>
			<!--MIME types relating to Unity-->
			<remove fileExtension=".unityweb"/>
			
			<!--<mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".data" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".memgz" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".datagz" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".unity3dgz" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".jsgz" mimeType="application/octet-stream" />-->
			<mimeMap fileExtension=".unityweb" mimeType="application/octet-stream" />
		</staticContent>
	</system.webServer>
</configuration>