<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location>
		<system.web>
			<httpRuntime executionTimeout="90" maxRequestLength="4096"/>
		</system.web>
	</location>
	<location path="Services/Data/LongPoll">
		<system.web>
			<httpRuntime executionTimeout="2147483647" maxRequestLength="4096"/>
		</system.web>
	</location>
</configuration>