<head>
	<link rel="shortcut icon" href="/favicon.ico?v=2" />
	<link rel="icon" sizes="16x16 32x32 64x64" href="/Images/FavIcos/favicon.ico?v=2" />
	<link rel="icon" type="image/png" sizes="196x196" href="/Images/FavIcos/favicon-192.png" />
	<link rel="icon" type="image/png" sizes="160x160" href="/Images/FavIcos/favicon-160.png" />
	<link rel="icon" type="image/png" sizes="96x96" href="/Images/FavIcos/favicon-96.png" />
	<link rel="icon" type="image/png" sizes="64x64" href="/Images/FavIcos/favicon-64.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/Images/FavIcos/favicon-32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/Images/FavIcos/favicon-16.png" />
	<link rel="apple-touch-icon" href="/Images/FavIcos/favicon-57.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/Images/FavIcos/favicon-114.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/Images/FavIcos/favicon-72.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/Images/FavIcos/favicon-144.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="/Images/FavIcos/favicon-60.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/Images/FavIcos/favicon-120.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="/Images/FavIcos/favicon-76.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="/Images/FavIcos/favicon-152.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="/Images/FavIcos/favicon-180.png" />
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="/Images/FavIcos/favicon-144.png" />
	<meta name="msapplication-config" content="/Images/FavIcos/browserconfig.xml" />

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/Imports/JQueryThemes/base/all.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<title>Reasonable Music Generation</title>
</head>
<body>
	<h1>Reasonable Music Generation</h1>

	<div>
		<h3>This Band</h3>
		<input type="text" placeholder="Some Band" id="BandLookupText" /> <button type="button" id="BandLookupButton">Look Up Band</button>
		<select id="BandLookupSelect"><option disabled="disabled">None Loaded</option></select>
	</div>

	<div>
		<h3>This Lyric</h3>
		<input type="text" placeholder="Some Lyric" id="LyricLookupText" /> <button type="button" id="LyricLookupButton"></button>
	</div>

	<div>
		<h3>Generate Song Lyrics</h3>
		<span id="MarkovSongLyrics"></span>
	</div>


	<div><input type="text" placeholder="I wonder" id="LyricsSearchText" /><button type="button" id="LyricsSearchButton">Let's Find Out</button><button type="button" id="MakeItUpButton">Let's Make It Up</button></div>
	<div><em id="ResultsHolder">Results here</em></div>

	<script type="text/javascript" src="/Scripts/Decemberists.js"></script>
</body>